[Unit]
Description=Bring up can1 (500k)
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can1 type can bitrate 500000
ExecStart=/sbin/ip link set up can1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
